.products {
    &_list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 16px;
    }

    &_title {
        font-family: Open Sans;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        color: #000;
        margin-bottom: 24px;
    }

    &_desc {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.01em;
        margin-bottom: 32px;
        color: #828282;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .products {
        &_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 768px) and (min-width: 540px) {
    .products {
        &_list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
